/*---------------------------------------------*/
/* Additional Font
/*---------------------------------------------*/


/*---------------------------------------------*/
/* General
/*---------------------------------------------*/
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #e1e1e1;
	background-color: #2c2c2c;
	font-size: 100%;
	letter-spacing: -0.25em;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, a, p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: #e1e1e1;
	text-decoration: none;
}

/*---------------------------------------------*/
/* Container
/*---------------------------------------------*/
#viewport {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#container {
	width: 100%;
	height: 100%;
}

h2, h3, h4 {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	font-size: 5em;
	font-weight: normal;
}

.small h2,
.small h3,
.small h4 {
	font-size: 1.8em;
	letter-spacing: 0;
}

.medium h2,
.medium h3,
.medium h4 {
	font-size: 4em;
}

h5 {
	
}

h1, h6 {
	display: none;
}

#homepage {
	float: left;
}

#top {
	position: absolute;
	display: none;
	top: 0;
	height :50%;
	width: 100%;
	background: #f5f5f5 url('http://r.xieqj.cn/imgs/hi/top.jpg') no-repeat center bottom;
}

#bottom {
	position: absolute;
	display: none;
	bottom: 0;
	height: 51%;
	width: 100%;
	background: #f5f5f5 url('http://r.xieqj.cn/imgs/hi/bottom.jpg') no-repeat center top;
}

/*---------------------------------------------*/
/* Contact
/*---------------------------------------------*/
#contact {
	width: 50%;
	height: 100%;
	float: left;
}

#contact-header {
	height: 100%;
	width: 100%;
	float: right;
}

#contact-header h2 {
	height: 100%;
	width: 100%;
	display: block;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #525252;
}

#contact-header a {
	height: 100%;
	width: 100%;
	display: table;
}

#contact-header a span {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#contact-header a span.active {
	color: #e1e1e1;
	background-color: #3d3d3d;
}

#contact-header a span:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}

#contact-header a span.active:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}

#locations-nav-container {
	height: 100%;
	float: right;
	width: 1%;
	display: none;
}

#locations-nav-container ul {
	height: 100%;
}

#locations-nav-container ul li {
	display: table;
	height: 25%;
	width: 100%;
	border-width: 0;
	border-style: solid;
	border-color: #525252;
}

#locations-nav-container ul li a {
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #525252;
	font-size: 5em;
}

#locations-nav-container ul li a.last {
	border-width: 0 1px 0 0;
}

.medium #locations-nav-container ul li a {
	font-size: 4em;
}

.small #locations-nav-container ul li a {
	font-size: 1.8em;
	letter-spacing: 0;
}

#locations-nav-container ul li a:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}

#locations-nav-container ul li a.active {
	color: #e1e1e1;
	background-color: #3d3d3d;
}

#locations-nav-container ul li a.active:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}

#locations-container {
	height: 100%;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 1%;
	display: none;
	float: right;
}

#locations-container h3 {
	display: none;
}

#locations-container #locations-list {
	height: 400%;
	width: 100%;
	position: absolute;
}

#locations-container #locations-list .location {
	height: 25%;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #525252;
}

.location-container {
	height: 100%;
	position: relative;
	overflow: hidden;
}
	
.location-container.last {
	border-width: 1px 0 1px 0;
}

.location-header {
	height: 20%;
	display: none;
	width: 100%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #525252;
}

.location-container h5 {
	display: none;
}

.location-container .location-info {
	height: 50%;
	width: 101%;
	position: relative;
	font-family: Georgia;
	font-size: 1.875em;
	font-style: italic;
	text-align: center;
	display: table;
	letter-spacing: 0;
}

.location-container .location-info dl {
	margin-top: -12.5%; 
}

.address-holder {
	display: table-cell;
	vertical-align: middle;
}

.small .location-info {
	height: 100%;
}

.small .location-info .social a {
	font-size: 0.5em;
}

.medium .location-info .social a {
	font-size: 0.6em;
}

.small .location-info a.holding-page {
	font-size: 0.5em;
}

.medium .location-info a.holding-page {
	font-size: 0.6em;
}

.small .location-info dl {
	font-size: 0.5em;
}

.medium .location-info dl {
	font-size: 0.6em;
}

.location-container .location-info dt {
	display: none;
}

.location-container .location-info dd {
	text-align: center;
}

.location-container .location-info dd.phone {
	margin-top: 32px;
}

.social {
	font-family:'TradeGothicNextW01-Bold 693232';
	overflow: hidden;
	font-size: 0.800em;
	letter-spacing: 0;
	font-style: normal;
	height: 25%;
	bottom: 0;
	width: 100%;
	position: absolute;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #525252;
	float: left;
}

.small .social {
	font-size: 0.6em;
}

.medium .social {
	font-size: 1em;
}

ul.social li {
	width: 25%;
	display: table;
	height: 100%;
	float: left;
}

.social li a {
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #525252;
	color: #949494;
}

.social li a.last {
	border-width: 0;
}

.social li a:hover {
	color: #3D3D3D;
	background-color: #e1e1e1;
}

.social.iphone {
	font-size: 0.4em;
}

.holding-page {
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.holding-page:hover {
	color: #3D3D3D;
	background-color: #e1e1e1;
}

/*---------------------------------------------*/
/* Map
/*---------------------------------------------*/
.map {
	position: absolute;
	height: 50%;
	width: 100%;
	bottom: 0;
	text-align: center;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #525252;
	overflow: hidden;
}

.map p {
	display: none;
}

.small .map {
	display: none;
}

/*---------------------------------------------*/
/* Us
/*---------------------------------------------*/
#us {
	width: 50%;
	height: 100%;
	float: left;
}

#us-header {
	width: 100%;
	float: left;
	height: 100%;
}

#us-header h2 {
	height: 100%;
	width: 100%;
	display: block;
}

#us-header a {
	height: 100%;
	width: 100%;
	display: table;
}

#us-header a span {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#us-header a span.active {
	color: #e1e1e1;
	background-color: #3d3d3d;
}

#us-header a span:hover {
	color: #3D3D3D;
	background-color: #e1e1e1;
}

#us-header a span.active:hover {
	color: #3D3D3D;
	background-color: #e1e1e1;
}

/*---------------------------------------------*/
/* us nav
/*---------------------------------------------*/
#us-nav {
	width: 1%;
	display: none;
	float: left;
	height: 100%;
	font-size: 5.00em;
}

.small #us-nav {
	font-size: 1.8em;
	letter-spacing: -0.05em;
}

.medium #us-nav {
	font-size: 4.00em;
}

#us-nav ul {
	height: 100%;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #525252;
}

#us-nav ul li {
	display: table;
	height: 50%;
	width: 100%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #525252;
}

#us-nav ul li.last {
	border-width: 0;
}

#us-nav ul li a {
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#us-nav a.active {
	color: #e1e1e1;
	background-color: #3d3d3d;
}

#us-nav a:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}

#us-nav a.active:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}

/*---------------------------------------------*/
/* founders
/*---------------------------------------------*/
#founders-nav {
	display: none;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	float: left;
}

#founders-blog {
	position: absolute;
	height: 200%;
	width: 100%;
}

#founders-nav ul {
	height: 50%;
	width: 100%;
}

#founders-nav ul li {
	display: table;
	height: 33.3333333%;
	width: 100%;
}

#founders-nav ul li a {
	font-size: 5.00em;
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #525252;
}

.small #founders-nav ul li a {
	font-size: 1.75em;
	letter-spacing: -0.05em;
}

.medium #founders-nav ul li a {
	font-size: 4.00em;
}

#founders-nav ul li a.last {
	border-width: 0 0 0 1px;
}

#founders-nav ul li a.active {
	color: #e1e1e1;
	background-color: #3d3d3d;
}

#founders-nav ul li a:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}

#founders-nav ul li a.active:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}

/*---------------------------------------------*/
/* Founders
/*---------------------------------------------*/
#founders-container {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 1%;
	display: none;
	float: left;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #525252;
}

#founders-header {
	display: none;
}

#founders-container #founders-list {
	height: 400%;
	width: 100%;
	position: absolute;
}

.founder-blurb-container {
	width: 100%;
	height: 75%;
	position: relative;
	overflow: hidden;
}

.founder-blurb {
	width: 80%;
	border: none;
	color: #a8a8a8;
	margin: 40px;
	line-height: 1.25;
	float: left;
}

.founder-blurb p {
	font-family: 'Georgia';
	letter-spacing: 0;
	font-style: italic;
	font-size: 0.813em;
	padding: 10px;
}

.small .founder-blurb {
	margin: 10px;
}

.small .founder-blurb p {
	font-size: 0.6em;
}

.medium .founder-blurb p {
	font-size: 0.7em;
}

.scrollbar {
	width: 12px;
	float: right;
	height: 75%;
	position: fixed;
	top: 0;
	right: 0;
	background: #525252;
	z-index: -1;
}

.scrollbar a {
	position: absolute;
	top: 0;
	width: 12px;
	height: 135px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: block;
	font-size: 0.0001em;
	text-indent: -999999px;
	width: 100%;
	background: #E1E1E1;
	font-family: sans-serif;
}

#founders-list li {
	height: 25%;
}

#founders-container .founder-container {
	height: 100%;
	position: relative;
}

#founders-container .founder-header {
	display: none;
}

#founders-list .social-links {
	position: absolute;
	bottom: 0;
	width: 101%;
	height: 25%;
	font-size: 1.563em;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #525252;
	background: #2C2C2C;
}

.medium #founders-list .social-links {
	font-size: 1em;
}

.small #founders-list .social-links {
	font-size: 0.8em;
}

#founders-list .social-links .social-options {
	float: left;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#founders-list .social-links ul {
	height: 100%;
	margin: 0;
	padding: 0;
	border-width: 0 1px 0 0 ;
	border-style: solid;
	border-color: #525252;
}

#founders-list .social-links li {
	float: left;
	display: table;
	width: 50%;
	height: 50%;
	margin: 0;
	padding: 0;
	color: #949494;
	text-align: center;
	letter-spacing: 0;
}

#founders-list .social-links li.top {
	width: 100%;
	text-align: center;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #525252;
}

#founders-list .social-links li.first a {
	border-right: 1px solid #525252;
}

#founders-list .social-links li a,
#founders-list .social-links li span {
	display: table-cell;
	width: 100%;
	color: #949494;
	vertical-align: middle;
}

#founders-list .social-links li a:hover {
	color: #3d3d3d;
	background-color: #e1e1e1;
}


#founders-list .social-links.iphone {
	font-size: 0.4em;
}

#founders-list .social-links.iphone a.email {
	font-size: 0.2em;
}

/*---------------------------------------------*/
/* Blog
/*---------------------------------------------*/
#blog-container {
	height: 50%;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #525252;
}

#blog-header {
	display: none;
	width: 100%;
	height: 33.33%;
}

#blog {
	height: 100%;
}

#blog iframe {
	width: 100%;
	height: 100%;
	border: 0;
}