body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
}

#viewWrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#nextPage {
    position: absolute;
    overflow: hidden;
    width: 120px;
    height: 40px;
    left: 48%;
    right: auto;
    top: 94%;
    z-index: 99;
}

#me {
    height: 100%;
    width: 100%;
    background-position: center center;
    display: none;
    background-image: url('http://r.xieqj.cn/imgs/hi/keyboard_back.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-attachment: fixed;
    opacity: 0.8;
    filter: "alpha(opacity=80)";
   
}

#skill {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-image: url('http://r.xieqj.cn/imgs/hi/keyboard_back.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-attachment: fixed;
    opacity: 0.8;
    filter: "alpha(opacity=80)";
}
#project {
    height: 100%;
    width: 100%;
    display: none;
    background-position: center center;
    background-image: url('http://r.xieqj.cn/imgs/hi/keyboard_back.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-attachment: fixed;
    opacity: 0.8;
    filter: "alpha(opacity=80)";
}
