/* === CSS RESET === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    overflow: auto;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

/* === End of CSS RESET === */

body {
    background: url('http://r.xieqj.cn/imgs/blog/black_back.png');
    color: white;
    font-size: 20px;
    font-family: "Terminal Dosis", sans-serif;
    text-shadow: 1px 1px 0 transparent, 2px 2px 0 #101010;
    overflow: hidden;
}

h1 {
    font-size: 75px;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 2px 2px 0 transparent, 4px 4px 0 #101010;
}

a, a:visited {
    color: white;
    text-decoration: none;
    border-bottom: 2px dotted;
    transition: color 0.2s;
}

    a:hover {
        color: #AAA;
    }

    a:active {
        color: lightblue;
    }




.settings, nav {
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    background: rgba(10,10,10, 0.5);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.settings {
    right: 0;
    padding: 10px 20px;
    border-radius: 10px 0 0 0;
}

    .settings a {
        border: none;
    }

nav {
    left: 0;
    border-radius: 0 10px 0 0;
}

    nav li {
        float: left;
    }

    nav a {
        text-align: center;
        display: block;
        width: 90px;
        height: 40px;
        line-height: 40px;
        border: none;
        text-align: center;
        transition: 0.25s;
    }

    nav .a1 {
        text-align: center;
        display: block;
        width: 50px;
        height: 40px;
        line-height: 40px;
        border: none;
        text-align: center;
        transition: 0.25s;
    }

    nav li:last-child a {
        border-radius: 0 10px 0 0;
    }

    nav a:hover {
        background: rgba(15,15,15, 0.5);
    }


.demo {
    width: 100%;
    padding-left: 10%;
}

.textContent {
    margin-top:12px;
    width: 80%;
    height: 730px;
    overflow: auto;
}

.highlight {
    animation: highlight 0.2s alternate 6;
}

@keyframes point-down {
    from {
        top: 0;
    }

    to {
        top: 5px;
    }
}

@keyframes highlight {
    to {
        background: lightblue;
    }
}
